[run]
omit =
    # avoid measuring strange non-existing files
    /workspace/config.py
    /workspace/config-3.py

    # avoid measuring third-party dist packages
    */dist-packages/*

    # avoid measuring code of unittest
    tests/*

[report]
ignore_errors = True
