
# data & resources
outputs/
assets/

# setup
data_juicer.egg-info/
py_data_juicer.egg-info/
build/
dist

# others
.DS_Store
.idea/
wandb/
__pycache__
.vscode/
**/__dj__produced_data__/*
venv/

# dup files created by tests
tests/ops/data/*dup*
