[submodule "Img-Diff-codes/object_replacement/LLaVA"]
	path = Img-Diff-codes/object_replacement/LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
[submodule "Img-Diff-codes/pairs_generator/FastChat"]
	path = Img-Diff-codes/pairs_generator/FastChat
	url = https://github.com/lm-sys/FastChat.git