repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-pyproject
          - pycodestyle<2.12.0
  - repo: https://github.com/PyCQA/isort.git
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        exclude: data_juicer/ops/common/special_characters.py
        additional_dependencies:
          - toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: thirdparty/
      - id: check-yaml
        exclude: thirdparty/
      - id: end-of-file-fixer
        exclude: thirdparty/
      - id: requirements-txt-fixer
        exclude: thirdparty/
      - id: double-quote-string-fixer
        exclude: ^(thirdparty/|data_juicer/ops/common/special_characters.py)
      - id: check-merge-conflict
        exclude: thirdparty/
      - id: fix-encoding-pragma
        exclude: thirdparty/
        args: [ "--remove" ]
      - id: mixed-line-ending
        exclude: thirdparty/
        args: [ "--fix=lf" ]
  - repo: local
    hooks:
      - id: build-op-doc
        name: build OP doc
        entry: python .pre-commit-hooks/build_op_doc.py
        language: python
        require_serial: true
        additional_dependencies:
          - translators==5.9.3
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

exclude: |
  (?x)^(
    docs/.*|
    tests/.*|
    demos/(?!api_service/).*|
    tools/mm_eval/inception_metrics/.*|
    thirdparty/easy_animate/.*|
    .*\.md
  )$
