# Process config example for dataset

# global parameters
project_name: 'demo-analyser'
dataset_path: './demos/data/demo-dataset.jsonl'  # path to your dataset directory or file
np: 4  # number of subprocess to process your dataset

export_path: './outputs/demo-analyser/demo-analyser-result.jsonl'

# process schedule
# a list of several process operators with their arguments
process:
  - language_id_score_filter:
      lang: 'en'
  - perplexity_filter:
      lang: 'en'
      max_ppl: 1500
